@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    min-height: 0;
    min-width: 0;
}

body	{font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

.backgroundGray {
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    background: #222222;
    z-index: 80;
    opacity: 0.8;
}

/*헤더 CSS*/

.box1 header:after {
    content: "";
    display: block;
    clear: both;
}

.box1 header .homeButton{
    position: absolute;
    float: left;
    margin: 10px;
    display: block;
    width: 150px;
}

.box1 header .left_header{
    float: left;
    width: 30%;
    padding: 10px 0px 10px 10px;
    line-height: 40px;
}
.box1 header .right_header{
    float: right;
    width: 50%;
    text-align: right;
    padding: 10px 10px 10px 0px;
    line-height: 40px;
}

.box1 header .right_header div{
    float: right;
    vertical-align: middle;
}

.box1 header .right_header .login:after{
    content: "|";
    margin: 0px 10px;
}

.homeButton:hover {
    cursor: pointer;
}

.userIconControl {
    display: none;
}

.menuIconControl {
    display: none;
}

.userHeaderControl {
    display: block;
}

.openMobileUserMenu {
    display: none;
}

.openMobileGnbMenu {
    display: none;
}

/*메뉴 CSS*/

.gnb {
    content: "";
    display: block;
    clear: both;
    padding: 10px 0px 10px 20px;
    margin-bottom: 10px;
}
.gnb ul {
}
.gnbClear>li {
    float: left;
    list-style: none;
}
.gnbClear>li {
    content: "";
    margin: 0px 10px;
}
.gnbClear>li:last-child:after {
    content: "";
}

.gnbClear>li:hover .menuTitle{
    color: #BBBBBB;
    cursor: pointer;
}

.gnb .gnbClear:after {
    content: "";
    display: block;
    clear: both;
}

.depthSubGameLeft ul {
    list-style: none;
}

.gnbClear>.gameBoardMenu:hover .depthSubGame {
    display: flex;
    opacity:1; 
    left:20px; 
    background: #FFFFFF;
    width: 750px;
    height: 200px;
    z-index: 100;
}

.depthSubGameLeft {
    border-right: 2px dashed #AAAAAA;
    padding: 10px;
    flex: 0.1;
    display: flex;
    flex-direction: column;
}

.depthSubGameLeft .depthSubGameLeftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.depthSubGameLeftContent .active {
    color: red;
}

.depthSubGameLeft .depthSubGameLeftContent li {
    flex: 1;
}

.depthSubGameLeft .depthSubGameLeftContent li:hover, .depthSubGameSmall .depthSubGameSmallContent li:hover {
    cursor: pointer;
    color: red;
}

.depthSubGameRight {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.depthSubGameRight>span {
    flex: 0.1;
}

.depthSubGameRightFrame {
    flex: 1;
    display: flex;
    margin-bottom: 10px
}

.depthSubGameRightItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.depthSubGameRightItem img:hover {
    cursor: pointer;
}

.depthSubGameRightItem span:hover {
    cursor: pointer;
}

.depthSubGameRightItem img {
    width: 60px;
    height: 80px;
    border: 1px solid;
    display: block;
    margin: auto;
}

.depthSubGame {
    display: none;
    position: absolute; 
    opacity:0;
    transition:all 0.4s; 
    border: 2px solid #BBBBBB;
}

.depthSubCommunity {
    display: none;
    position: absolute;
    border: 2px solid #BBBBBB;
    padding: 10px;
}

.depthSubGameSmall {
    display: none;
    position: absolute;
    border: 2px solid #BBBBBB;
    padding: 10px;
    width: 100px;
    left:20px; 
    background: #FFFFFF;
    z-index: 100;
}

.gnbClear>.communityMenu:hover .depthSubCommunity {
    display: flex;
    left:230px; 
    background: #FFFFFF;
}

.depthSubCommunityContent, .depthSubGameSmallContent {
    list-style: none;
}

.depthSubCommunityContent li:hover {
    cursor: pointer;
    color: red;
}

/*푸터 css*/

.brPlz {
    margin: 0px 0px 10px 0px;
}

.box5 {
}
.box5 footer {
    padding: 20px 0px 100px;
}
.box5 footer img{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0px auto 20px;
}
.box5 ul {
}
.box5 ul li {
    text-align: center;
}
.box5 .brPlz {
}

/*왼쪽 메뉴 css*/

.leftMenuFrame {
    position: fixed;
    border: 2px solid #999999;
    width: 137.250px;
    right: 0;
}

.leftMenuFrame .leftMenu {
    list-style: none;
}

.leftMenuFrame .leftMenu .leftMenuTitle,.leftMenuTitleHide {
    padding: 7px;
    background: #EEEEEE;
    border-bottom: 2px solid #999999;
}

.leftMenuFrame .leftMenu .leftMenuTitle,.leftMenuTitleHide:hover {
    cursor: pointer;
}

.leftMenuFrame .leftMenu .leftMenuContent {
    background: #FFFFFF;
    padding: 2px 7px;
}

.leftMenuFrame .leftMenu .leftMenuContent:hover {
    cursor: pointer;
    color: red;
}

.leftMenuFrame .leftMenu .active {
    color: red;
}

/*게시판 본문 css*/

.mainFrame {
    max-width: 1000px;
    min-width: 758px;
    margin: auto;
}

.mainFrame .boardSep {
    border-bottom: 2px solid;
    padding: 2px 2px 5px;
    margin-bottom: 20px;
}

.mainFrame .contentTitle {
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.mainFrame .boardInformationFirstLine {
    padding: 5px 0;
}
.mainFrame .boardInformationFirstLine:after {
    content: "";
    display: block;
    clear: both;
}

.mainFrame .boardInformationSecondLine:after {
    content: "";
    display: block;
    clear: both;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.mainFrame .boardInformationLeft {
    float: left;
}
.mainFrame .boardInformationRight{
    float: right;
}

.mainFrame .contentContent {
    border: 2px solid #BBBBBB;
    border-radius: 4%;
    max-width: 700px;
    min-height: 400px;
    margin: 30px auto;
    padding: 10px;
}
.mainFrame .contentContent img {
    display: block;
    margin: auto;
    width: 600px;
}

/*추천 버튼 css*/

.upDownButton {
    text-align: center;
    margin: 20px 0;
}

.upDownButton span {
    border: 5px solid #BBBBBB;
    padding: 5px;
    border-radius: 5em;
    width: 10em;
}

.upDownButton span:hover {
    cursor: pointer;
    
}

.upDownButton .thumsUp {
    margin-right: 50px;
}

/*게시판 컨트롤 버튼 css*/

.boardControlButton {
    text-align: right;
    margin: 30px 0;
}

.boardControlButton span {
    border: 2px solid #BBBBBB;
    padding: 5px;
    border-radius: 0.4em;
}

.boardControlButton span:hover {
    cursor: pointer;
}

.boardControlButton span:last-child {
    margin-right: 20px
}

/*경로 css*/

.smallLeftFrame {
        margin: 10px 0px;
    }
    
.mainFrame .smallLeftFrame span:hover {
    cursor: pointer;
}

/*설정 css*/

.tooBig{
    display: none;
}

/*미디어 Css*/

@media (max-width: 1310px) {
    .mainFrame {
        margin: auto;
        padding: 0 10px;
    }
    
    .hideThis{
        display: none;
    }

    .showThis{
        display: block;
    }
}

@media (min-width:590px) and (max-width:798px) {
    .mainFrame {
        max-width: 758px;
        min-width: 540px;
        margin: auto;
    }
    
    .mainFrame .contentContent {
        border: 2px solid #BBBBBB;
        border-radius: 4%;
        max-width: 600px;
        min-height: 400px;
        margin: 30px auto;
        padding: 10px;
    }
    .mainFrame .contentContent img {
        display: block;
        margin: auto;
        max-width: 500px;
    }
    
    .gnbClear>.gameBoardMenu:hover .depthSubGame {
        display: none;
    }
    
    .gnbClear>.gameBoardMenu:hover .depthSubGameSmall {
        display: flex;
    }
}

@media (max-width:590px) {
    
/*    본문 css*/
    
    .mainFrame {
        max-width: 540px;
        min-width: 160px;
        margin: auto;
    }
    .mainFrame .contentContent {
        border: 2px solid #BBBBBB;
        border-radius: 4%;
        max-width: 490px;
        min-height: 400px;
        margin: 30px auto;
        padding: 10px;
    }
    .mainFrame .contentContent img {
        display: block;
        margin: auto;
        max-width: 250px;
    }
    
/*    리모콘 css*/
    
    .leftMenuFrame {
        display: none;
    }
    
    .boardInformationFirstLine {
        font-size: 0.8em;
    }
    
    .boardInformationSecondLine {
        font-size: 0.8em;
    }
    
    .upDownButton {
        text-align: center;
        margin: 20px 0;
    }

    .upDownButton span {
        border: 5px solid #BBBBBB;
        padding: 5px;
        border-radius: 5em;
        width: 5em;
    }

    .upDownButton span:hover {
        cursor: pointer;

    }

    .upDownButton .thumsUp {
        margin-right: 20px;
    }
    
    
    .boardControlButton div{
        font-size: 0.8em;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .boardControlButton span {
        border: 2px solid #BBBBBB;
        padding: 5px;
        border-radius: 0.4em;
        flex: 1;
    }

    .boardControlButton span:hover {
        cursor: pointer;
    }

    .boardControlButton span:last-child {
        margin: 0;
    }
    
/*    푸터 글씨 크기 조절*/
    
    footer ul {
        font-size: 0.7em;
    }
    
/*    메뉴 제거*/
    
    .gnb {
        display: none;
    }
    
/*    헤더 css*/
    
    .box1 header .homeButton{
        position: relative;
        float: none;
        padding: 10px;
        display: block;
        margin: auto;
        width: 150px;
    }
    
    .box1 header:after {
        content: "";
        display: block;
        clear: both;
    }
    .box1 header .left_header{
        line-height: 40px;
    }
    .box1 header .right_header{
        position: absolute;
        right: 0%;
        top: 0%;
        width: 50px;
        text-align: right;
        padding: 10px 10px 10px 0px;
        line-height: 40px;
    }
    
    .box1 header .left_header{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 50px;
        text-align: right;
        padding: 15px 0px 10px 10px;
        line-height: 40px;
    }

    .box1 header .left_header img{
        display: block;
        margin: auto;
        width: 150px;
    }
    .box1 header .right_header div{
        float: right;
        vertical-align: middle;
    }

    .homeButton {
        height: 40px;
    }

    .userIconControl {
        display: block;
    }
    
    .menuIconControl {
        display: block;
    }
    
    .fa-user {
        font-size: 1.5em;
        margin-right: 10px;
    }
    
    .fa-user,.fa-bars:hover {
        cursor: pointer;
    }
    
    .fa-bars {
        font-size: 1.5em;
        margin-left: 10px;
        float: left;
    }
    
    .userHeaderControl {
        display: none;
    }
    
    .openMobileUserMenu {
        display: block;
        transition: all 0.3s;
        position: fixed;
        right: 0%;
        left: 100%;
        top: 0%;
        bottom: 0%;
        background: #525ca3;
        padding: 10px;
        color: white;
        z-index: 100;
    }
    
    .openMobileGnbMenu {
        display: block;
        transition: all 0.3s;
        position: fixed;
        right: 100%;
        left: 0%;
        top: 0%;
        bottom: 0%;
        background: #525ca3;
        color: white;
        z-index: 100;
    }
    
    .openMobileUserMenuUl, .openMobileGnbMenuUl {
        list-style: none;
        text-align: left;
    }
    
    .openMobileGnbMenuUl {
        display: none;
        margin: 10px;
    }
    
    .openMobileUserMenuLi, .openMobileGnbMenuLi {
        padding: 0px 10px;
        border-bottom: 1px solid #afceff;
    }
        
    .openMobileUserMenuUl .mobileClose {
        text-align: right;
    }
    
    .mobileCloseButton:hover {
        cursor: pointer
    }
    
/*    설정 css*/
    
    .hideThis{
        display: none;
    }

    .showThis{
        display: block;
    }
}

