@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body	{font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

/*뒷배경 가리는 css*/

.backgroundGray {
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    background: #222222;
    z-index: 80;
    opacity: 0.8;
}

/*헤더 CSS*/

.box1 {
    border-bottom: 1px solid #888888
}

/*로그인 버튼 호버 처리 손가락*/

.registin:hover {
    cursor: pointer;
}

.login:hover {
    cursor: pointer;
}

/*헤더 float 된 것 풀어준다*/

.box1 header:after {
    content: "";
    display: block;
    clear: both;
}

/*로고 css 이미지이므로 너무 커지지않게 크기 설정 및 위치 고정*/

.box1 header .homeButton{
    position: absolute;
    float: left;
    margin: 10px;
    display: block;
    width: 150px;
}

/*홈버튼 손가락 처리*/

.homeButton:hover {
    cursor: pointer;
}

/*헤더 영역 설정 right_header에는 로그인 버튼 설정*/

.box1 header .left_header{
    float: left;
    width: 30%;
    padding: 10px 0px 10px 10px;
    line-height: 40px;
}
.box1 header .right_header{
    float: right;
    width: 50%;
    text-align: right;
    padding: 10px 10px 10px 0px;
    line-height: 40px;
}

.box1 header .right_header div{
    float: right;
    vertical-align: middle;
}

/*바를 after에 추가해서 구분*/

.box1 header .right_header .login:after{
    content: "|";
    margin: 0px 10px;
}

/*모바일 버튼 제거(미디어에서 생성)*/

.userIconControl {
    display: none;
}

.menuIconControl {
    display: none;
}

.userHeaderControl {
    display: block;
}

.openMobileUserMenu {
    display: none;
}

.openMobileGnbMenu {
    display: none;
}

/*캐러셀 CSS 흰색 배경을 제거함*/
.box6 {
    background: #343434;
    height: 360px;
    padding: 40px 10px 0px 10px;
}
.bxslider {
}

.bxslider img{
    height: 300px;
    width: 100%;
}

.bxsliderWrapper .bxslider{
    background: #343434
}

/*메뉴 CSS*/

.gnb {
    content: "";
    display: block;
    clear: both;
    padding: 10px 0px 10px 20px;
    margin-bottom: 10px;
}
.gnb ul {
}

/*리스트 스타일 제거*/

.gnbClear>li {
    float: left;
    list-style: none;
}
.gnbClear>li {
    content: "";
    margin: 0px 10px;
}
.gnbClear>li:last-child:after {
    content: "";
}

.gnbClear>li:hover .menuTitle{
    color: #BBBBBB;
    cursor: pointer;
}

.gnb .gnbClear:after {
    content: "";
    display: block;
    clear: both;
}

/*서브 메뉴가 뒤로 밀리는 현상(겹쳐짐) 제거*/

.depthSubGame {
    z-index: 300;
}

.depthSubGameLeft ul {
    list-style: none;
}

/*메인 메뉴에 마우스 올릴 시 서브메뉴 출현 및 디자인 설정*/

.gnbClear>.gameBoardMenu:hover .depthSubGame {
    display: flex;
    opacity:1; 
    left:20px; 
    background: #FFFFFF;
    width: 750px;
    height: 200px;
}

/*서브메뉴의 구역 구분*/

.depthSubGameLeft {
    border-right: 2px dashed #AAAAAA;
    padding: 10px;
    flex: 0.1;
    display: flex;
    flex-direction: column;
}

/*플랙스 처리로 간단하게 구역 구분(세로로 플랙스 설정)*/

.depthSubGameLeft .depthSubGameLeftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.depthSubGameLeftContent .active {
    color: red;
}

.depthSubGameLeft .depthSubGameLeftContent li {
    flex: 1;
}

/*모바일과 pc 메뉴로 마우스 위치시 기능 손가락과 색 변경*/

.depthSubGameLeft .depthSubGameLeftContent li:hover, .depthSubGameSmall .depthSubGameSmallContent li:hover {
    cursor: pointer;
    color: red;
}

/*서브 메뉴의 오른쪽 구역 설정*/

.depthSubGameRight {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.depthSubGameRight>span {
    flex: 0.1;
}

.depthSubGameRightFrame {
    flex: 1;
    display: flex;
    margin-bottom: 10px
}

.depthSubGameRightItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.depthSubGameRightItem img:hover {
    cursor: pointer;
}

.depthSubGameRightItem span:hover {
    cursor: pointer;
}

.depthSubGameRightItem img {
    width: 60px;
    height: 80px;
    border: 1px solid;
    display: block;
    margin: auto;
}

.depthSubGame {
    display: none;
    position: absolute; 
    opacity:0;
    transition:all 0.4s; 
    border: 2px solid #BBBBBB;
}

.depthSubCommunity {
    display: none;
    position: absolute;
    border: 2px solid #BBBBBB;
    padding: 10px;
}

/*모바일 메뉴의 설정 transision으로 부드러운 움직임 부여*/

.depthSubGameSmall {
    display: none;
    position: absolute;
    border: 2px solid #BBBBBB;
    padding: 10px;
    width: 100px;
    left:20px; 
    background: #FFFFFF;
    z-index: 300;
}

.depthSubCommunity {
    z-index: 300;
}

.gnbClear>.communityMenu:hover .depthSubCommunity {
    display: flex;
    left:230px; 
    background: #FFFFFF;
}

.depthSubCommunityContent, .depthSubGameSmallContent {
    list-style: none;
}

.depthSubCommunityContent li:hover {
    cursor: pointer;
    color: red;
}

/*푸터 css*/

.brPlz {
    margin: 0px 0px 10px 0px;
}

.box5 {
    background-image: url('../img/footer.jpg');
    background-size: 100% 100%;
    margin: 20px 0 0 0;
}
.box5 footer {
    padding: 20px 0px 100px;
}
.box5 footer img{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0px auto 20px;
}
.box5 ul {
}
.box5 ul li {
    text-align: center;
}
.box5 .brPlz {
}



/*커뮤니티 css*/

.box7 {
    border-bottom: 1px solid #888888
}

.box7 .boardTitle {
    float: left;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
}

.box7 .boardAllView {
    float: left;
    text-decoration: none;
    font-size: 11px;
    margin: 26px 0px 10px 0px;
}

.boxB .box7:after {
    content: "";
    display: block;
    clear: both;
}

.box8 .allCommBoard{
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 40px
}

.box8 .community {
    margin: 0 20px;
    width: 40%;
}

.style1
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.style1 li
{
    border-top: solid 1px #a7a7a7;
    padding: 0.40em;
}

.style1 li a {
    text-decoration: none;
}

.style1 li:first-child
{
    margin-top: 15px;
}

.style1 li:last-child
{
    border-bottom: solid 1px #a7a7a7;
}

/*게임 추천 글 css*/

/*추천 글 헤더*/

.box3 {
    border-bottom: 1px solid #888888
}

.box3 .boardTitle {
    float: left;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
}

.box3 .boardAllView {
    float: left;
    text-decoration: none;
    font-size: 11px;
    margin: 26px 0px 10px 0px;
}

.boxA .box3:after {
    content: "";
    display: block;
    clear: both;
}

/*추천 글 컨텐츠*/

.LineChange {
    display: none;
}

.box4 .allGameBoard .gameBoard img{
    border: 2px;
    border-style: solid;
    width: 110px;
    height: 140px;
    display: block;
}

.box4 {
    text-align: center;
}

.box4 .allGameBoard{
    display: inline-block;
    line-height: 40px
}

.box4 .allGameBoard .gameBoard {
    float: left;
    margin: 20px;
    text-align: center;
}

.box4 .allGameBoard .gameBoard:hover {
    cursor: pointer;
}

.box4 .allGameBoard:after {
    content: "";
    display: block;
    clear: both;
} 

.box4 .allGameBoard .lastGameBoard {
    display: none;
}

.hideThis{
    display: none;
}

.showThis{
    display: block;
}

/*미디어 쿼리*/

@media (min-width:590px) and (max-width:798px) {    
    .gameBoard {flex: 1;}
    
/*    기존 서브 메뉴 제거*/
    .gnbClear>.gameBoardMenu:hover .depthSubGame {
        display: none;
    }
    
    .gnbClear>.gameBoardMenu:hover .depthSubGameSmall {
        display: flex;
    }
    
    .box8 .community {
        margin: 0 5px 0 5px;
        width: 48%;
    }
    
/*    게시판 폰트 크기 줄임*/
    .style1 li {
        font-size: 0.8em;
    }
}

/*크기 작아질 시 중앙의 게임 추천 게시판 미리보기를 바둑판으로 배치*/

@media (max-width:640px) {
    .LineChange {
        display: block;
    }
    
    .box8 .allCommBoard{
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 40px;
    }

    .box8 .community {
        flex: 1;
        margin: 10px 10px;
        width: auto;
    }
    .style1 li {
        font-size: 1em;
    }
}

/*크기가 작아질 시 게임추천 게시글 하나 삭제*/

@media(min-width: 820px) {
    .box4 .gameBoard img{
        border: 2px;
        border-style: solid;
        width: 110px;
        height: 140px;
        display: block;
    }

    .box4 {
        text-align: center;
    }

    .box4 .allGameBoard{
        display: inline-block;
    }

    .box4 .gameBoard {
        float: left;
        margin: 20px;
        text-align: center;
    }

    .box4 .gameBoard:hover {
        cursor: pointer;
    }

    .box4 .allGameBoard:after {
        content: "";
        display: block;
        clear: both;
    } 
    
    .box4 .allGameBoard .lastGameBoard {
        display: block;
    }
    
}

/*모바일 환경*/

@media (max-width:590px) {
    
/*    메뉴 제거*/
    
    .gnb {
        display: none;
    }
    
/*    헤더 css*/
    
    
/*    홈버튼 중앙 배치*/
    .box1 header .homeButton{
        position: relative;
        float: none;
        padding: 10px;
        display: block;
        margin: auto;
        width: 150px;
    }
    
    .box1 header:after {
        content: "";
        display: block;
        clear: both;
    }
    .box1 header .left_header{
        line-height: 40px;
    }
    .box1 header .right_header{
        position: absolute;
        right: 0%;
        top: 0%;
        width: 50px;
        text-align: right;
        padding: 10px 10px 10px 0px;
        line-height: 40px;
    }
    
    .box1 header .left_header{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 50px;
        text-align: right;
        padding: 15px 0px 10px 10px;
        line-height: 40px;
    }

    .box1 header .left_header img{
        display: block;
        margin: auto;
        width: 150px;
    }
    .box1 header .right_header div{
        float: right;
        vertical-align: middle;
    }

    .homeButton {
        height: 40px;
    }

/*    모바일 메뉴 아이콘 배치*/
    .userIconControl {
        display: block;
    }
    
    .menuIconControl {
        display: block;
    }
    
    .fa-user {
        font-size: 1.5em;
        margin-right: 10px;
    }
    
    .fa-user,.fa-bars:hover {
        cursor: pointer;
    }
    
    .fa-bars {
        font-size: 1.5em;
        margin-left: 10px;
        float: left;
    }
    
    .userHeaderControl {
        display: none;
    }
    
/*    모바일 로그인 메뉴를 보여주기 위해 디자인 설정*/
    .openMobileUserMenu {
        display: block;
        transition: all 0.3s;
        position: fixed;
        right: 0%;
        left: 100%;
        top: 0%;
        bottom: 0%;
        background: #525ca3;
        padding: 10px;
        color: white;
        z-index: 100;
    }
    
/*    모바일 메뉴를 보여주기 위해 디자인 설정*/
    .openMobileGnbMenu {
        display: block;
        transition: all 0.3s;
        position: fixed;
        right: 100%;
        left: 0%;
        top: 0%;
        bottom: 0%;
        background: #525ca3;
        color: white;
        z-index: 100;
    }
    
    .openMobileUserMenuUl, .openMobileGnbMenuUl {
        list-style: none;
        text-align: left;
    }
    
    .openMobileGnbMenuUl {
        display: none;
        margin: 10px;
    }
    
    .openMobileUserMenuLi, .openMobileGnbMenuLi {
        padding: 0px 10px;
        border-bottom: 1px solid #afceff;
    }
        
    .openMobileUserMenuUl .mobileClose {
        text-align: right;
    }
    
    .mobileCloseButton:hover {
        cursor: pointer
    }
    
/*    설정 css*/
    
    .hideThis{
        display: none;
    }

    .showThis{
        display: block;
    }
    
    /*    푸터 글씨 크기 조절*/
    
    footer ul {
        font-size: 0.7em;
    }
}


